body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--clr-dark);
    background-color: #c1c1c18e;
    margin: 15px;
    margin-top: 0px;
    font-size: 1rem; 
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    flex: none;
}

.dark-mode .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--clr-light);
    background-color: #c1c1c18e;
}

.nav-pills .nav-link.active:hover,
.nav-pills .show>.nav-link:hover {
    background-color: #cbcbcb;
}

.nav-pills-container {
    margin-top: 6px;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
}
