.transparent-bg {
    background-color: transparent !important;
}
.dark-mode .btn-dark {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
.btn-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.btn-outline-red {
    color: var(--clr-dark);
    background-color: red;
}
.btn-outline-red:hover {
    background-color: red;
    background-color: rgb(187, 1, 1);
    
}
.dark-mode .btn-outline-red{
   color: var(--clr-light);
}
.dark-mode .form-control{
    background-color: transparent;
     color: var(--clr-light);
}
.righted{
    width:100%;
    margin-left: 300px;
}
.form-control:focus {
    color: var(--clr-dark);
    background-color: transparent !important;
}
.dark-mode .form-control:focus {
    color: var(--clr-light);
}